{{define "contact-form"}}
<h1>Contact</h1>

{{.FormData.Name}}
{{.FormData.Email}}
{{.FormData.Subject}}
{{.FormData.Message}}

<form action="/contact" method="post">
    <input type="text" name="name" placeholder="name" />
    <input type="email" name="email" placeholder="email" />
    <input type="text" name="subject" placeholder="subject" />
    <input type="text" name="message" placeholder="message" />
    <input type="submit" />
</form>
{{end}}