{{define "main-nav"}}
<nav>
    <ul>
        <li><a href="/profile">profile</a></li>
        <li><a href="/portfolio">portfolio</li>
        <li><a href="/links">links</a></li>
    </ul>
</nav>
{{end}}